<div class="accordionClick"><a><%=h @example_group.description + ": " + @description %></a></div>
<div class="accordionContent">
  <table>
    <tr class="errorRow">
      <td>
        <div class="errorTrace">
          <h2>Location of the test:</h2>
          <%= example.location %>
          <h2>Exception Message:</h2>
          <pre><%=h @message %></pre>
          <h2>Backtrace:</h2>
          <pre><%=h backtrace %></pre>
        </div>
      </td>
    </tr>
    <% if @fixes['fixes'] %>
      <tr><td><h2>Fixes</h2></td></tr>
      <% @fixes['fixes'].each_with_index do |fix, index| %>
        <tr class="errorFix">
          <td>
            <div>Fix <%= index + 1 %></div>
          </td>
        </tr>
        <% fix['fix_files'].each do |fix_file| %>
          <tr class="errorRow">
            <td>
              <div class="errorBox">
                <div class="errorMeta">
                  <%= fix_file['path'] %>
                </div>
                <div class="errorInfo">
                  <% hd = HTMLDiff.new((fix_file['content_after'] || '').split("\n"), (fix_file['content_before'] || '').split("\n")) %>
                <pre> <%=h hd.output %> </pre>
                </div>				
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>
